@{
    ViewBag.Title = @Resources.Home.about;
}

@{
    var language = DAXService.ActionFilters.CultureAttribute.GetSavedCultureOrDefault(new HttpRequestWrapper(HttpContext.Current.Request));
}

<div class="featurette-divider"></div>

<div class="container">
    <div class="text-justify">
        <h2>@Resources.Home.about</h2>
        <p>@Resources.Home.companyMission</p>
        <p>@Resources.Home.theMainFeatures</p>
        <ul>
            <li>@Resources.Home.companyEmployeesImplemented</li>
            <li>@Resources.Home.stableStaff</li>
            <li>@Resources.Home.greatExperienceInRemote</li>
            <li>@Resources.Home.greatInternationalExperience<</li>
            <li>@Resources.Home.greatExperienceInAX</li>
        </ul>
        <p>@Resources.Home.theCompanyIsLocated</p>
    </div>

    <footer>
        <p class="pull-right">&copy; @DateTime.Now.Year - DAX Service</p>
    </footer>

</div>
