@{
    ViewBag.Title = @Resources.Home.about;
}

<div class="featurette-divider"></div>


<div class="container">
    <h2>@Resources.Home.about</h2>
    <div class="row-contact">
        <div class="col-sm-6 about-us-text">
            <p>@Resources.Home.aboutIntro1</p>
            <p>@Resources.Home.aboutIntro2</p>
            <p>@Resources.Home.aboutIntro3</p>
        </div>
        <div class="col-sm-6 column-hide-small">
            <img src="~/img/AboutUs1.png" width="400px" />
        </div>

        <div class="col-sm-6 column-hide-small">
            <img src="~/img/AboutUs1.png" width="400px" />
        </div>
        <div class="col-sm-6 about-us-text">
            <p>@Resources.Home.aboutOutro1</p>
            <p>@Resources.Home.aboutOutro2</p>
            <p>@Resources.Home.aboutOutro3</p>
            <p>@Resources.Home.aboutOutro4</p>
        </div>
    </div>
</div>









<!--<div class="container">
    <div class="text-justify">
        <h2>@Resources.Home.about</h2>
        <p>@Resources.Home.aboutIntro1</p>
        <p>@Resources.Home.aboutIntro2</p>
        <p>@Resources.Home.aboutIntro3</p>
        <p>@Resources.Home.aboutOutro1</p>
        <p>@Resources.Home.aboutOutro2</p>
        <p>@Resources.Home.aboutOutro3</p>
        <p>@Resources.Home.aboutOutro4</p>-->
@*<p>@Resources.Home.companyMission</p>
    <ul>
        <li>@Resources.Home.companyEmployeesImplemented</li>
        <li>@Resources.Home.stableStaff</li>
        <li>@Resources.Home.greatExperienceInRemote</li>
        <li>@Resources.Home.greatInternationalExperience</li>
        <li>@Resources.Home.greatExperienceInAX</li>
        <li>@Resources.Home.greatExperienceInExtending</li>
        <li>@Resources.Home.greatExperienceInCRM</li>
        <li>@Resources.Home.greatExperienceInIntegration</li>
        <li>@Resources.Home.greatExperiencePOSEcom</li>
    </ul>*@
<!--</div>
</div>-->
