@{
    ViewBag.Title = @Resources.Home.about;
}

<div class="featurette-divider"></div>

<div class="container">
    <div class="text-justify">
        <h2>@Resources.Home.about</h2>
        <p>@Resources.Home.aboutIntro</p>
        <h3>@Resources.Home.ourTeam</h3>
        <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.AKU" />@Resources.Home.AKU. @Resources.Home.AKUDescr</p>
        <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.ALA" /> @Resources.Home.ALA. @Resources.Home.ALADescr</p>
        <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.ANY" /> @Resources.Home.ANY. @Resources.Home.ANYDescr</p>
        <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.DMS" /> @Resources.Home.DMS. @Resources.Home.DMSDescr</p>
        <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.IRG" /> @Resources.Home.IRG. @Resources.Home.IRGDescr</p>
        <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.ANT" /> @Resources.Home.ANT. @Resources.Home.ANTDescr</p>
        <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.DVE" /> @Resources.Home.DVE. @Resources.Home.DVEDescr</p>
        <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.DMM" /> @Resources.Home.DMM. @Resources.Home.DMMDescr</p>
        <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.ALK" /> @Resources.Home.ALK. @Resources.Home.ALKDescr</p>
        <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.ALP" /> @Resources.Home.ALP. @Resources.Home.ALPDescr</p>
        <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.KOM" /> @Resources.Home.KOM. @Resources.Home.KOMDescr</p>
        <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.VLT" /> @Resources.Home.VLT. @Resources.Home.VLTDescr</p>
        <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.JUK" /> @Resources.Home.JUK. @Resources.Home.JUKDescr</p>
        <p>@Resources.Home.companyMission</p>
        <ul>
            <li>@Resources.Home.companyEmployeesImplemented</li>
            <li>@Resources.Home.stableStaff</li>
            <li>@Resources.Home.greatExperienceInRemote</li>
            <li>@Resources.Home.greatInternationalExperience</li>
            <li>@Resources.Home.greatExperienceInAX</li>
            <li>@Resources.Home.greatExperienceInExtending</li>
            <li>@Resources.Home.greatExperienceInCRM</li>
            <li>@Resources.Home.greatExperienceInIntegration</li>
            <li>@Resources.Home.greatExperiencePOSEcom</li>
        </ul>
    </div>
</div>
