@{
    ViewBag.Title = @Resources.Home.contact;
}

<div class="featurette-divider"></div>

<div class="container">

    <h2>@ViewBag.Title</h2>

    <h2>
        <img src="~/img/logo.png" />
    </h2>

    <address>
        @Resources.Home.address1<br />
        @Resources.Home.address2<br />
        @Resources.Home.address3<br />
        <abbr title="@Resources.Home.phoneHelp">@Resources.Home.phoneAbbr:</abbr>
        +375-29-3478546
    </address>

    <address>
        @Resources.Home.sendEmail: <a href="mailto:welcome@dax-service.com">welcome@dax-service.com</a><br />
    </address>
</div>