@{
    ViewBag.Title = @Resources.Home.contact;
}

<div class="featurette-divider"></div>

<div class="container">

    <h2>@ViewBag.Title</h2>

    <h2>
        <img src="~/img/logo_dyna_white.png" />
    </h2>

    <address>
        @Resources.Home.address1<br />
        @Resources.Home.address2<br />
        @Resources.Home.address3<br />
    </address>

    <address>
        @Resources.Home.sendEmail: <a href="mailto:welcome@dyna-soft.com">welcome@dyna-soft.com</a><br />
    </address>
</div>