@{
    ViewBag.Title = @Resources.Home.contact;
}

<script>
    window.onbeforeunload = () => {
        for (const form of document.getElementsByTagName('form')) {
            form.reset();
        }
    }
</script>

<div class="featurette-divider"></div>

<div class="container">

    @*<h2>@ViewBag.Title</h2>*@

    <div class="row">
        <div class="col-sm-6 col-xs-12">

            <h2>
                <img src="~/img/logo_dyna_white.png" width="300px" />
            </h2>

            <address>
                @Resources.Home.address1<br />
                @Resources.Home.address2<br />
                @Resources.Home.address3<br />
            </address>

            <address>
                @Resources.Home.sendEmail: <a class="email" href="mailto:welcome@dyna-soft.com">welcome@dyna-soft.com</a><br />
            </address>
        </div>

        <div class="col-sm-6 col-xs-12">
            <h3>@Resources.Home.ContactUs</h3>
            <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/mbjeglnj" method="post">
                <fieldset id="fs-frm-inputs">
                    <label for="full-name">Full Name</label>
                    <input type="text" name="name" id="full-name" placeholder="First and Last" required="">
                    <label for="email-address">Email Address</label>
                    <input type="email" name="_replyto" id="email-address" placeholder="email@domain.tld" required="">
                    <label for="message">Message</label>
                    <textarea rows="5" name="message" id="message" placeholder="Please type your message" required=""></textarea>
                    <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
                </fieldset>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
