<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/img/about_us.jpg" alt=@Resources.Home.about>
            <div class="container">
                <div class="carousel-caption">
                    <h1>@Resources.Home.about</h1>
                    <p class="text-center">@Resources.Home.theCompanyWasFounded</p>
                    <p><a class="btn btn-lg btn-primary" href="about" role="button">@Resources.Home.readMore</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/img/services.jpg" alt=@Resources.Home.services>
            <div class="container">
                <div class="carousel-caption">
                    <h1>@Resources.Home.services</h1>
                    <p class="text-center">@Resources.Home.theMainActivity</p>
                    <p><a class="btn btn-lg btn-primary" href="services" role="button">@Resources.Home.readMore</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/img/references.jpg" alt="@Resources.Home.references">
            <div class="container">
                <div class="carousel-caption">
                    <h1>@Resources.Home.references</h1>
                    <p class="text-center">@Resources.Home.theCompanySpecializes</p>
                    <p><a class="btn btn-lg btn-primary" href="references" role="button">@Resources.Home.readMore</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->
<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="~/img/team.png" alt="@Resources.Home.about">
            <h2>@Resources.Home.about</h2>
            <p>@Resources.Home.theCompanyWasFounded</p>
            <p><a class="btn btn-default" href="about" role="button">@Resources.Home.viewDetails &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="~/img/service.png" alt="@Resources.Home.services">
            <h2>@Resources.Home.services</h2>
            <p>@Resources.Home.theMainActivity</p>
            <p><a class="btn btn-default" href="services" role="button">@Resources.Home.viewDetails &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="~/img/reference.png" alt="@Resources.Home.references">
            <h2>@Resources.Home.references</h2>
            <p>@Resources.Home.theCompanySpecializes</p>
            <p><a class="btn btn-default" href="references" role="button">@Resources.Home.viewDetails &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->
    @*<hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Generic placeholder image">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">*@

    <!-- /END THE FEATURETTES -->
    <!-- FOOTER -->
    <footer>
        <p class="pull-right">&copy; @DateTime.Now.Year - DAX Service <a href="#">Back to top</a></p>
    </footer>

</div><!-- /.container -->