@{
    ViewBag.Title = @Resources.Home.references;
}

<div class="featurette-divider"></div>

<div class="container">
    <div class="text-justify">
        <h2>@Resources.Home.references</h2>
        <p>@Resources.Home.theCompanySpecializes</p>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-6 vcenter"><a href="http://www.alfapeople.com"><img width="180" src="~/img/ap_logo_transp_220px.png" alt="Alfapeople Group" /></a></div>
        <div class="col-lg-4 col-md-4 col-xs-6 vcenter">
            <ul>
                <li>@Resources.Home.chemicalIndustry</li>
                <li>@Resources.Home.production</li>
                <li>@Resources.Home.wholesale</li>
                <li>@Resources.Home.documentWorkflowManagement</li>
                <li>@Resources.Home.engineeringIndustry</li>
                <li>@Resources.Home.electricitySupply</li>
                <li>@Resources.Home.lightAndHeavyIndustry</li>
                <li>@Resources.Home.retail</li>
                <li>@Resources.Home.pos</li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-6 vcenter"><a href="http://www.kuoni.com"><img width="180" src="~/img/kuoni.svg" alt="Kuoni Group" /></a></div>
        <div class="col-lg-3 col-md-3 col-xs-6 vcenter">
            <ul>
                <li>@Resources.Home.crmDevelopment</li>
                <li>@Resources.Home.crmUpgrade</li>
                <li>@Resources.Home.integrations</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-6 vcenter"><a href="http://www.viseo.com/fr"><img src="~/img/viseo.png" alt="Viseo Group" /></a></div>
        <div class="col-lg-4 col-md-4 col-xs-6 vcenter">
            <ul>
                <li>@Resources.Home.wholesaleOfFoods</li>
                <li>@Resources.Home.wholesaleOfComputers</li>
                <li>@Resources.Home.documentWorkflowManagement</li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-6 vcenter"><a href="http://lanit.ru/"><img src="~/img/logo_lanit_rus.jpg" alt="Lanit Group" /></a></div>
        <div class="col-lg-3 col-md-3 col-xs-6 vcenter">
            <ul>
                <li>@Resources.Home.wholesale</li>
                <li>@Resources.Home.banking</li>
                <li>@Resources.Home.foodIndustry</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-6 vcenter"><a href="http://en.mspos.net/"><img width="180" src="~/img/mspos.png" alt="MSPOS" /></a></div>
        <div class="col-lg-4 col-md-4 col-xs-6 vcenter">
            <ul>
                <li>@Resources.Home.retail</li>
                <li>@Resources.Home.pos</li>
                <li>@Resources.Home.wholesale</li>
            </ul>
        </div>
        @*<div class="col-lg-2 col-md-2 col-xs-6 vcenter"><a href="http://lanit.ru/"><img src="~/img/logo_lanit_rus.jpg" alt="Lanit Group" /></a></div>
        <div class="col-lg-3 col-md-3 col-xs-6 vcenter">
            <ul>
                <li>@Resources.Home.wholesale</li>
                <li>@Resources.Home.banking</li>
                <li>@Resources.Home.foodIndustry</li>
            </ul>
        </div>*@
    </div>

    @*<div class="row">
        <div class="col-xs-3">MSPOS</div>
        <div class="col-xs-9">@Resources.Home.lightAndHeavyIndustry</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Kuoni Specialists</div>
        <div class="col-xs-9">@Resources.Home.lightAndHeavyIndustry</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Wennsoft</div>
        <div class="col-xs-9">@Resources.Home.lightAndHeavyIndustry</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Viseo</div>
        <div class="col-xs-9">@Resources.Home.viseoFields</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Lanit</div>
        <div class="col-xs-9">@Resources.Home.lanitFields</div>
    </div>*@

    <footer>
        <p class="pull-right">&copy; @DateTime.Now.Year - Dyna-Soft <a href="#">Back to top</a></p>
    </footer>

</div>
