@{
    ViewBag.Title = @Resources.Home.references;
}

<div class="featurette-divider"></div>

<div class="container">
    <div class="text-justify">
        <h2>@Resources.Home.references</h2>
        <p>@Resources.Home.referencesIntro1</p>
        <p>@Resources.Home.referencesIntro2</p>
        <p>@Resources.Home.referencesIntro3</p>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer-ref">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <a href="http://www.alfapeople.com"><img width="250" class="card-img-ref card-img-ref-small" src="~/img/alfapeople_logo.png" alt="AlfaPeople Group" /></a>
                    <h5 class="card-title-ref mt-3">AlfaPeople Group</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.alfapeopleIntro</p>
                    <p class="card-text text-justify">@Resources.Home.beingAlfaPartner1</p>
                    <ul>
                        <li>@Resources.Home.chemicalIndustry</li>
                        <li>@Resources.Home.production</li>
                        <li>@Resources.Home.wholesale</li>
                        <li>@Resources.Home.documentWorkflowManagement</li>
                        <li>@Resources.Home.engineeringIndustry</li>
                        <li>@Resources.Home.electricitySupply</li>
                        <li>@Resources.Home.lightAndHeavyIndustry</li>
                        <li>@Resources.Home.retail</li>
                        <li>@Resources.Home.pos</li>
                        <li>@Resources.Home.crmDevelopment</li>
                        <li>@Resources.Home.crmUpgrade</li>
                    </ul>
                    <p class="card-text text-justify">@Resources.Home.beingAlfaPartner2</p>
                </div>
            </div>
        </div>

        @*Unitedhours*@
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer-ref">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <a href="https://www.unitedhours.se/"><img width="100" class="card-img-ref" src="~/img/uh.png" alt="Unitedhours" /></a>
                    <h5 class="card-title-ref mt-3">Unitedhours</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.unitedHoursIntro</p>
                    <p class="card-text text-justify">@Resources.Home.beingUHPartner1</p>
                    <p class="card-text text-justify">@Resources.Home.beingUHPartner2</p>
                    <p class="card-text text-justify">@Resources.Home.beingUHPartner3</p>
                </div>
            </div>
        </div>

        @*Kuoni*@
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer-ref">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <a href="https://www.dertouristik.com/"><img class="card-img-ref" src="~/img/DerTouristik.png" alt="Der Touristik" /></a>
                    <h5 class="card-title-ref mt-3">Der Touristik</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.derTouristik</p>
                    <p class="card-text text-justify">@Resources.Home.derTouristikWork1</p>
                </div>
            </div>
        </div>

        @*Viseo*@
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer-ref">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <a href="https://www.viseo.com/en/emea"><img class="card-img-ref card-img-ref-small" src="~/img/logo-viseo.svg" alt="Viseo Group" /></a>
                    <h5 class="card-title-ref mt-3">Viseo Group</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.viseoIntro</p>
                    <ul>
                        <li>@Resources.Home.wholesaleOfFoods</li>
                        <li>@Resources.Home.wholesaleOfComputers</li>
                        <li>@Resources.Home.documentWorkflowManagement</li>
                    </ul>
                </div>
            </div>
        </div>

        @*Ahlens*@
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer-ref">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <a href="https://www.ahlens.se/"><img class="card-img-ref" src="~/img/Ahlens_Red_RGB-removebg-preview.png" alt="Ahlens" /></a>
                    <h5 class="card-title-ref mt-3">Åhlens</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.ahlensIntro</p>
                </div>
            </div>
        </div>

        @*Telia*@
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer-ref">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <a href="https://www.telia.se/"><img class="card-img-ref" src="~/img/Telia_Logotype_RGB_Purple.png" alt="Telia" /></a>
                    <h5 class="card-title-ref mt-3">Telia</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.teliaIntro</p>
                </div>
            </div>
        </div>

        @*KappAhl*@
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer-ref">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <a href="https://www.kappahl.com/sv-SE/"><img class="card-img-ref card-img-ref-small" src="~/img/kappahl-logotype_rgb_black.svg" alt="Kappahl" /></a>
                    <h5 class="card-title-ref mt-3">Kappahl</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.kappahlIntro</p>
                </div>
            </div>
        </div>

        @*Mageba*@
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer-ref">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <a href="https://www.mageba-group.com/global/en/"><img class="card-img-ref" src="~/img/mageba-logo.svg" alt="mageba" /></a>
                    <h5 class="card-title-ref mt-3">mageba</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.magebaIntro</p>
                </div>
            </div>
        </div>

        @*FahrradXXL*@
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer-ref">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <a href="https://www.fahrrad-xxl.de/"><img class="card-img-ref" src="~/img/FahrradXXL.png" alt="FahrradXXL" /></a>
                    <h5 class="card-title-ref mt-3">FahrradXXL</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.fahrradXXLIntro</p>
                </div>
            </div>
        </div>

        @*WGL*@
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer-ref">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <a href="https://www.linkedin.com/in/wolf-gl%C3%A4ser-734b1414/?originalSubdomain=de"><span class="glyphicon glyphicon-briefcase"></span></a>
                    <h5 class="card-title-ref-glyph mt-3">WGL C&P</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.wglIntro</p>
                </div>
            </div>
        </div>

        @*Stobag*@
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer-ref">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <a href="https://www.stobag.com/"><img class="card-img-ref" width="100px" src="~/img/Stobag.png" alt="Stobag" /></a>
                    <h5 class="card-title-ref mt-3">Stobag</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.stobagIntro</p>
                </div>
            </div>
        </div>

    </div>
</div>