@{
    ViewBag.Title = @Resources.Home.services;
}

<div class="featurette-divider"></div>

<div class="container">
    <div class="text-justify">
        <h2>@Resources.Home.services</h2>
        <p>@Resources.Home.servicesIntro:</p>
        <ul>
            <li>@Resources.Home.completeAppraisal</li>
            <li>@Resources.Home.optimPerformance</li>
            <li>@Resources.Home.ecoTechConsulting</li>
            <li>@Resources.Home.remoteAXDev</li>
            <li>@Resources.Home.upgradeAX</li>
            <li>@Resources.Home.trainingSupport</li>
            <li>@Resources.Home.azureDevOpsDynamics</li>
            <li>@Resources.Home.azureBasedIntegrations</li>
            <li>@Resources.Home.dataMigrationIntegration</li>
            <li>@Resources.Home.dynamicsAddOns</li>
            <li>@Resources.Home.dotNetDevelopment</li>
            <li>@Resources.Home.msposDevelopment</li>
            <li>@Resources.Home.MPOSDBOptimization</li>
            <li>@Resources.Home.eCOMDevelopment</li>
            <li>@Resources.Home.scribeIntegrations</li>
            <li>@Resources.Home.dualWriteIntegrations</li>
            <li>@Resources.Home.integration</li>
            <li>@Resources.Home.customWorkflowAutomation</li>
            <li>@Resources.Home.powerAppsPowerAutomate</li>
            <li>@Resources.Home.ERandRDLDevelopment</li>
            <li>@Resources.Home.remoteCRMDev</li>
            <li>@Resources.Home.upgradeCRM</li>
            <li>@Resources.Home.powerAppsDevelopment</li>
            <li>@Resources.Home.laserNetDevelopment</li>
            @*<li>@Resources.Home.DMFBasedIntegrations</li>*@
        </ul>
    </div>
</div>
