@{
    ViewBag.Title = @Resources.Home.services;
}

<div class="featurette-divider"></div>

<div class="container">
    <div class="text-justify">
        <h2>@Resources.Home.services</h2>
        <p>@Resources.Home.theMainActivity</p>
        <ul>
            <li>@Resources.Home.remoteAXDev;</li>
            <li>@Resources.Home.ecoTechConsulting;</li>
            <li>@Resources.Home.upgradeAX;</li>
            <li>@Resources.Home.completeAppraisal;</li>
            <li>@Resources.Home.optimPerformance;</li>
            <li>@Resources.Home.remoteCRMDev;</li>
            <li>@Resources.Home.upgradeCRM;</li>
            <li>@Resources.Home.integration;</li>
            <li>@Resources.Home.msposDevelopment.</li>
        </ul>
    </div>

    <footer>
        <p class="pull-right">&copy; @DateTime.Now.Year - DAX Service <a href="#">Back to top</a></p>
    </footer>
</div>
