@{
    ViewBag.Title = @Resources.Home.ourTeam;
}

<div class="featurette-divider"></div>

<div class="container">
    <h2>@Resources.Home.ourTeam</h2>
    <div class="text-justify">
        <p>@Resources.Home.teamIntro</p>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/AKU.png" class="card-img-top" alt="@Resources.Home.AKU">
                    <h5 class="card-title mt-3">@Resources.Home.AKU</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.AKUDescr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/ALA.png" class="card-img-top" alt="@Resources.Home.ALA">
                    <h5 class="card-title mt-3">@Resources.Home.ALA</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.ALADescr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/ANY.png" class="card-img-top" alt="@Resources.Home.ANY">
                    <h5 class="card-title mt-3">@Resources.Home.ANY</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.ANYDescr</p>
                </div>
            </div>
        </div>
        @*</div>

            <div class="row align-items-stretch">*@
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/DMS.png" class="card-img-top" alt="@Resources.Home.DMS">
                    <h5 class="card-title mt-3">@Resources.Home.DMS</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.DMSDescr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/IRG.png" class="card-img-top" alt="@Resources.Home.IRG">
                    <h5 class="card-title mt-3">@Resources.Home.IRG</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.IRGDescr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/ANT.png" class="card-img-top" alt="@Resources.Home.ANT">
                    <h5 class="card-title mt-3">@Resources.Home.ANT</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.ANTDescr</p>
                </div>
            </div>
        </div>
        @*</div>

            <div class="row align-items-stretch">*@
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/DVE.png" class="card-img-top" alt="@Resources.Home.DVE">
                    <h5 class="card-title mt-3">@Resources.Home.DVE</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.DVEDescr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/ALK.png" class="card-img-top" alt="@Resources.Home.ALK">
                    <h5 class="card-title mt-3">@Resources.Home.ALK</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.ALKDescr</p>
                </div>
            </div>
        </div>
        @*</div>

            <div class="row align-items-stretch">*@
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/ALP.png" class="card-img-top" alt="@Resources.Home.ALP">
                    <h5 class="card-title mt-3">@Resources.Home.ALP</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.ALPDescr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/KOM.png" class="card-img-top" alt="@Resources.Home.KOM">
                    <h5 class="card-title mt-3">@Resources.Home.KOM</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.KOMDescr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/VLT.png" class="card-img-top" alt="@Resources.Home.VLT">
                    <h5 class="card-title mt-3">@Resources.Home.VLT</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.VLTDescr</p>
                </div>
            </div>
        </div>
        @*</div>

            <div class="row align-items-stretch">*@
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/JUK.png" class="card-img-top" alt="@Resources.Home.JUK">
                    <h5 class="card-title mt-3">@Resources.Home.JUK</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.JUKDescr</p>
                </div>
            </div>
        </div>
    </div>
</div>