@{
    ViewBag.Title = @Resources.Home.ourTeam;
}

<div class="featurette-divider"></div>



<div class="container">
    <div class="text-justify">
        <h2>@Resources.Home.ourTeam</h2>
        <p>@Resources.Home.teamIntro</p>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/UnknownAvatar.jpg" class="card-img-top" alt="@Resources.Home.AKU">
                    <h5 class="card-title mt-3">@Resources.Home.AKU</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.AKUDescr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/UnknownAvatar.jpg" class="card-img-top" alt="@Resources.Home.ALA">
                    <h5 class="card-title mt-3">@Resources.Home.ALA</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.ALADescr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/UnknownAvatar.jpg" class="card-img-top" alt="@Resources.Home.ANY">
                    <h5 class="card-title mt-3">@Resources.Home.ANY</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.ANYDescr</p>
                </div>
            </div>
        </div>
    @*</div>

    <div class="row align-items-stretch">*@
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/UnknownAvatar.jpg" class="card-img-top" alt="@Resources.Home.DMS">
                    <h5 class="card-title mt-3">@Resources.Home.DMS</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.DMSDescr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/UnknownAvatar.jpg" class="card-img-top" alt="@Resources.Home.IRG">
                    <h5 class="card-title mt-3">@Resources.Home.IRG</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.IRGDescr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/UnknownAvatar.jpg" class="card-img-top" alt="@Resources.Home.ANT">
                    <h5 class="card-title mt-3">@Resources.Home.ANT</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.ANTDescr</p>
                </div>
            </div>
        </div>
    @*</div>

    <div class="row align-items-stretch">*@
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/UnknownAvatar.jpg" class="card-img-top" alt="@Resources.Home.DVE">
                    <h5 class="card-title mt-3">@Resources.Home.DVE</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.DVEDescr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/UnknownAvatar.jpg" class="card-img-top" alt="@Resources.Home.DMM">
                    <h5 class="card-title mt-3">@Resources.Home.DMM</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.DMMDescr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/UnknownAvatar.jpg" class="card-img-top" alt="@Resources.Home.ALK">
                    <h5 class="card-title mt-3">@Resources.Home.ALK</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.ALKDescr</p>
                </div>
            </div>
        </div>
    @*</div>

    <div class="row align-items-stretch">*@
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/UnknownAvatar.jpg" class="card-img-top" alt="@Resources.Home.ALP">
                    <h5 class="card-title mt-3">@Resources.Home.ALP</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.ALPDescr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/UnknownAvatar.jpg" class="card-img-top" alt="@Resources.Home.KOM">
                    <h5 class="card-title mt-3">@Resources.Home.KOM</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.KOMDescr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/UnknownAvatar.jpg" class="card-img-top" alt="@Resources.Home.VLT">
                    <h5 class="card-title mt-3">@Resources.Home.VLT</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.VLTDescr</p>
                </div>
            </div>
        </div>
    @*</div>

    <div class="row align-items-stretch">*@
        <div class="col-md-4 col-sm-6 col-xs-12 cardContainer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <img src="~/img/UnknownAvatar.jpg" class="card-img-top" alt="@Resources.Home.JUK">
                    <h5 class="card-title mt-3">@Resources.Home.JUK</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">@Resources.Home.JUKDescr</p>
                </div>
            </div>
        </div>
    </div>
</div>






@*<p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.AKU" />@Resources.Home.AKU. @Resources.Home.AKUDescr</p>
    <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.ALA" /> @Resources.Home.ALA. @Resources.Home.ALADescr</p>
    <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.ANY" /> @Resources.Home.ANY. @Resources.Home.ANYDescr</p>
    <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.DMS" /> @Resources.Home.DMS. @Resources.Home.DMSDescr</p>
    <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.IRG" /> @Resources.Home.IRG. @Resources.Home.IRGDescr</p>
    <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.ANT" /> @Resources.Home.ANT. @Resources.Home.ANTDescr</p>
    <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.DVE" /> @Resources.Home.DVE. @Resources.Home.DVEDescr</p>
    <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.DMM" /> @Resources.Home.DMM. @Resources.Home.DMMDescr</p>
    <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.ALK" /> @Resources.Home.ALK. @Resources.Home.ALKDescr</p>
    <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.ALP" /> @Resources.Home.ALP. @Resources.Home.ALPDescr</p>
    <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.KOM" /> @Resources.Home.KOM. @Resources.Home.KOMDescr</p>
    <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.VLT" /> @Resources.Home.VLT. @Resources.Home.VLTDescr</p>
    <p class="teamDescr"><img class="avatar" src="~/img/UnknownAvatar.jpg" alt="@Resources.Home.JUK" /> @Resources.Home.JUK. @Resources.Home.JUKDescr</p>
    <p>@Resources.Home.more</p>*@

